.error {
    border: red 1px solid;
}
.errorMessage {
    color: red;
}
.activeFilter {
    background-color: aquamarine;
}
.isDone {
    opacity: 0.3;
    /*text-decoration: line-through;*/
}
.todolist {
    background-color: #adf1fc;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px 2px 10px darkgray;
}
.title {
    text-align: center;
}
